{% extends "::base.html.twig" %}

{% block title %}MonBundle:Personne:create{% endblock %}

{% block body %}
	<h1>Ajouter une nouvelle personne</h1>
	{{ message }}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

{% endblock %}
